.active-pink-4 input[type=text]:focus {
  border: 1px solid #db014a;
  box-shadow: 0 0 0 1px #db4275;
}

.active-pink-3 input[type=text] {
  border: 1px solid #b1a2a4;
  box-shadow: 0 0 0 1px #b1a2a4;
}

.search_bar input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}



.search_bar button {
  float: left;
  width: 20%;
  padding: 10px;
  background: indianred;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.center{
  text-align: center;
  color: black;
  margin-bottom: 6%;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

body {
  padding-top: 3.5rem;
}

.jumbotron {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.301) 0%,rgba(255,255,255,0.9) 100%),url('/static/images/book.jpg') center center;
  background-size: cover;
}