{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


{% endblock %}


{% block heading %}
First Page
{% endblock %}


{% block body %}

<form class="form-signin center" action="/login" method="post">

        {% if register %}
        <h4 class=register> {{ register }} </h2>
        {% endif %}


        <h1 class="title mb-3 font-weight-normal">Welcome!</h1>
        <input type="username" id="inputUsername" name="inputUsername" class="form-control" placeholder="Username"
                required autofocus>
        <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password"
                required >

        <button class="btn btn-lg butt button" type="submit">Sign in</button>
        <div>
                {% if error %}
                <p class=error><strong>Error:</strong> {{ error }} </p>
                {% endif %}

        </div>

        <div>Don't have an account?</h6> <a href="{{ url_for('register') }}" class="ml-2">Sign Up</a></div>
</form>





{% endblock %}